<div class="navInnerOne">
    <label for="menu" data-aos="fade-down" data-aos-duration="1300" data-aos-once="true"><i
            class="fa-solid fa-bars label"></i></label>
    <input type="checkbox" name="menu" id="menu">

    <div class="logoDiv" data-aos="fade-down" data-aos-duration="1300" data-aos-once="true">
        <a href="index.html" class="logoLink"><img class="logo" src="Images/Logos/inkjetGlobalLogo.webp"
                alt="Inkjet Global Logo"></a>
        <p>by RELIANCE</p>
    </div>

    <div class="search" data-aos="fade-down" data-aos-duration="1300" data-aos-once="true">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" id="search" name="search" onkeyup="filterSearch2()" placeholder="Search Products"
            autocomplete="off">
        <ul id="myUL">
            <p id="noResults">No results found.</p>
            <!-- MACHINES -->
            <li><a class="searchBtn" href="uv.html">RAMZ A3 UV DTF Sticker Printer</a></li>
            <li><a class="searchBtn" href="uv.html">RAMZ A2 UV DTF Sticker Printer</a></li>
            <li><a class="searchBtn" href="uv.html">RAMZ A1 UV DTF Sticker Printer</a></li>
            <li><a class="searchBtn" href="uv.html">RAMZ 30cm Roll To Roll UV DTF Printer</a></li>
            <li><a class="searchBtn" href="uv.html">RAMZ Multifunctional/All Color UV DTF Printer</a></li>
            <li><a class="searchBtn" href="dtf.html">RAMZ 30cm Textile DTF Printer</a></li>
            <li><a class="searchBtn" href="dtf.html">RAMZ 60cm Textile DTF Printer</a></li>
            <li><a class="searchBtn" href="ecosolvent.html">GI32 1800B Printer</a></li>
            <li><a class="searchBtn" href="sublimation.html">Fedar 1800 Sublimation Machine</a></li>
            <li><a class="searchBtn" href="laser.html">20 W/30 W Fiber Laser Marking Machine</a></li>
            <li><a class="searchBtn" href="laser.html">80W CO2 Laser Cutting & Engraving Machine</a></li>
            <li><a class="searchBtn" href="plotter.html">1400 Cutting Plotter</a></li>
            <li><a class="searchBtn" href="plotter.html">ANYCUT Cutting Machine</a></li>
            <li><a class="searchBtn" href="heatTransfer.html">RAMZ Heat Press Machine</a></li>
            <li><a class="searchBtn" href="heatTransfer.html">Cap Heat Press Machine</a></li>
            <li><a class="searchBtn" href="heatTransfer.html">RAMZ Semi Automatic Double Station Pneumatic Heat Transfer
                    Machine</a></li>
            <li><a class="searchBtn" href="heatTransfer.html">RAMZ Semi Automatic Double Station Cap Heat Press
                    Machine</a></li>
            <!-- INKS -->
            <li><a class="searchBtn" href="inks.html">UV Ink (UV DTF) C/M/Y/K/W</a></li>
            <li><a class="searchBtn" href="inks.html">Eco-Solvent Ink &lpar;Large Format&rpar; C/M/Y/K</a></li>
            <li><a class="searchBtn" href="inks.html">DTF Textile Ink C/M/Y/K/W</a></li>
            <li><a class="searchBtn" href="inks.html">Dye Sublimation Textile Ink C/M/Y/K</a></li>
            <li><a class="searchBtn" href="inks.html">UV Ink (UV DTF) GL/GLO</a></li>
            <li><a class="searchBtn" href="inks.html">Cleaning Solution</a></li>
            <!-- MATERIAL -->
            <li><a class="searchBtn" href="material.html">EJET Outdoor Matte Vinyl Eco Solvent White Back Sticker</a>
            </li>
            <li><a class="searchBtn" href="material.html">OLFA Outdoor Matte Vinyl Eco Solvent White Back Sticker</a>
            </li>
            <li><a class="searchBtn" href="material.html">RELITACK Outdoor Matte Vinyl Eco Solvent White Back
                    Sticker</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Matte Vinyl Eco Solvent Grey Back Sticker</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Outdoor Glossy Vinyl Eco Solvent White Back
                    Sticker</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Eco Solvent Duratrans Film</a></li>
            <li><a class="searchBtn" href="material.html">EJET Black Matte Plotter Colored Vinyl</a></li>
            <li><a class="searchBtn" href="material.html">EJET White Matte Plotter Colored Vinyl</a></li>
            <li><a class="searchBtn" href="material.html">EJET Red Matte Plotter Colored Vinyl</a></li>
            <li><a class="searchBtn" href="material.html">EJET Green Matte Plotter Colored Vinyl</a></li>
            <li><a class="searchBtn" href="material.html">EJET Golden Matte Plotter Colored Vinyl</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Black Glossy Plotter Colored Vinyl</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Silver Glossy Plotter Colored Vinyl</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Golden Glossy Plotter Colored Vinyl</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Transparent Vinyl Clear Sticker</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Roll Up Media Vinyl P.P Poster Matte Sticker</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Roll Up Media P.P Laminated Composite Film</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK (Printable) One Way Vision Sticker</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Window Graphic Frosted Transparent Film</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Magnetic Sheet Iron Coated Film</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Magnetic Sheet PVC Magnetic Printable/Adhesive</a>
            </li>
            <li><a class="searchBtn" href="material.html">RELITACK Outdoor Solvent Poly-Cotton Canvas</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Self Adhesive Holographic Laser Vinyl</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Rainbow PET Adhesive Magenta Vinyl</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Rainbow PET Adhesive Cyan Vinyl</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Reflector Colored Honeycomb & Plain Vinyl Yellow
                    Film</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Reflector Colored Honeycomb & Plain Vinyl Red
                    Film</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Reflector Colored Honeycomb & Plain Vinyl White
                    Film</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Front-Lit Matte Banner White 40gsm</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Front-Lit Matte Banner Black Back 510gsm</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Cold Semi Matte Lamination</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Cold Semi Glossy Lamination</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Graphic Floor Lamination</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Roll Up Stand Pasting/Clip</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Pop Up Stand Pasting/Clip</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Mounting Board Forex White Sheet</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Mounting Board Forex Black Sheet</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Mounting Board Plastic White Corrugated Sheet</a>
            </li>
            <li><a class="searchBtn" href="material.html">RELITACK Mounting Foam Board White Sheet</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Clear Cast Acrylic Sheet</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Acrylic Sheet Opaque (Milky White)</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Acrylic Sheet Black High Gloss</a></li>
            <li><a class="searchBtn" href="material.html">RELITACK Acrylic Sheet Opal (Light Pass)</a></li>
            <li><a class="searchBtn" href="material.html">SOMITAPE Foam Double Sided Tape</a></li>
            <!-- PARTS -->
            <li><a class="searchBtn" href="parts.html">E1002 Small Ink Pump</a></li>
            <li><a class="searchBtn" href="parts.html">E1003 Small Ink Pump</a></li>
            <li><a class="searchBtn" href="parts.html">E1009 Big Ink Pump</a></li>
            <li><a class="searchBtn" href="parts.html">E1009-2 Big Ink Pump</a></li>
            <li><a class="searchBtn" href="parts.html">EN3034 Diaphragm Pump</a></li>
            <li><a class="searchBtn" href="parts.html">E1105-1 Diaphragm Pump-C</a></li>
            <li><a class="searchBtn" href="parts.html">EC3007 Diaphragm Pump</a></li>
            <li><a class="searchBtn" href="parts.html">E1001-1 Small Ink Pump</a></li>
            <li><a class="searchBtn" href="parts.html">E1095-1 Big Ink Pump</a></li>
            <li><a class="searchBtn" href="parts.html">E1034 Air Pump</a></li>
            <li><a class="searchBtn" href="parts.html">E1105-2 Big Pump</a></li>
            <li><a class="searchBtn" href="parts.html">E1010-2 Peristaltic Pump</a></li>
            <li><a class="searchBtn" href="parts.html">E1005 Air Pump</a></li>
            <li><a class="searchBtn" href="parts.html">E1010-6 JYYB-RD-3-1 Peristaltic Pump</a></li>
            <li><a class="searchBtn" href="parts.html">E1009-3 JYY-PUB-30 UV Big Ink Pump</a></li>
            <li><a class="searchBtn" href="parts.html">E1008 Big Ink Pump</a></li>
            <li><a class="searchBtn" href="parts.html">E1010-1 HH-RDB-125 Peristaltic Pump</a></li>
            <li><a class="searchBtn" href="parts.html">E1009-4 JYY-PUB-30 Solvent Big Ink Pump</a></li>
            <li><a class="searchBtn" href="parts.html">E1281-1 Ink Pump with Brush</a></li>
            <li><a class="searchBtn" href="parts.html">E1284-2 Ink Pump with Brush</a></li>
            <li><a class="searchBtn" href="parts.html">KNF2001 KNF Air Pump</a></li>
            <li><a class="searchBtn" href="parts.html">E1004 AKN-20 Big Ink Pump</a></li>
            <li><a class="searchBtn" href="parts.html">KNF2004 KNF Small Ink Pump (PM15129-NF10)</a></li>
            <li><a class="searchBtn" href="parts.html">KNF2005 KNF Big Ink Pump (ML10301-NF30)</a></li>
            <li><a class="searchBtn" href="parts.html">SPT1000 SYPTDA Air Negative Pressure Pump MV-SD700E</a></li>
            <li><a class="searchBtn" href="parts.html">SPT1001 SYPTDA MV-SD600E Big Pump</a></li>
            <li><a class="searchBtn" href="parts.html">SPT1002 SYPTDA MV-SD100E UV Small Ink Pump</a></li>
            <li><a class="searchBtn" href="parts.html">SPT1003 SYPTDA MV-SD300E UV Big Ink Pump</a></li>
            <li><a class="searchBtn" href="parts.html">ECS1157-3 Split-Flow Valve (2 hole)</a></li>
            <li><a class="searchBtn" href="parts.html">ECS1157-4 Split-Flow Valve (4 hole)</a></li>
            <li><a class="searchBtn" href="parts.html">4.5cm Disk Ink Filter</a></li>
            <li><a class="searchBtn" href="parts.html">ECS1000-1 200mm Stirrer For Ink Box</a></li>
            <li><a class="searchBtn" href="parts.html">H9730 180dpi encoder reader</a></li>
            <li><a class="searchBtn" href="parts.html">H9720 150dpi encoder reader</a></li>
            <li><a class="searchBtn" href="parts.html">H9780 360dpi encoder reader</a></li>
            <li><a class="searchBtn" href="parts.html">H9740 360dpi encoder reader</a></li>
            <li><a class="searchBtn" href="parts.html">H9740 300dpi encoder reader</a></li>
            <li><a class="searchBtn" href="parts.html">Encoder sensor for FTL printer</a></li>
            <li><a class="searchBtn" href="parts.html">H9700 200dpi encoder reader</a></li>
            <li><a class="searchBtn" href="parts.html">H9700-H1116 encoder reader</a></li>
            <li><a class="searchBtn" href="parts.html">Lcotec Encoder Sensor</a></li>
            <li><a class="searchBtn" href="parts.html">Wit-color 860 Encoder Sensor</a></li>
            <li><a class="searchBtn" href="parts.html">Wit-color 1000 data cable</a></li>
            <li><a class="searchBtn" href="parts.html">Encoder Strip Holder (with-iron)</a></li>
            <li><a class="searchBtn" href="parts.html">Wit-color 9200 Encoder Sensor (original)</a></li>
            <li><a class="searchBtn" href="parts.html">Encoder Strip Holder</a></li>
            <li><a class="searchBtn" href="parts.html">H9720 encoder sensor</a></li>
            <li><a class="searchBtn" href="parts.html">H9730 encoder sensor</a></li>
            <li><a class="searchBtn" href="parts.html">Straight Connector</a></li>
            <li><a class="searchBtn" href="parts.html">Right angle two-way Connector</a></li>
            <li><a class="searchBtn" href="parts.html">Y type tri-way Connector</a></li>
            <li><a class="searchBtn" href="parts.html">Straight Cutting Connector</a></li>
            <li><a class="searchBtn" href="parts.html">Y type tri-way connector Connector</a></li>
            <li><a class="searchBtn" href="parts.html">FC-FC Single core Fiber Optic cable</a></li>
            <li><a class="searchBtn" href="parts.html">FC-FC Double core Fiber Optic cable</a></li>
            <li><a class="searchBtn" href="parts.html">High Density Cable / Optical Fibre</a></li>
            <li><a class="searchBtn" href="parts.html">SC-SC Single core Fiber Optic cable</a></li>
            <li><a class="searchBtn" href="parts.html">SC-SC Double core duplex Fiber Optic cable</a></li>
            <li><a class="searchBtn" href="parts.html">SC-FC Single core Fiber Optic cable</a></li>
            <li><a class="searchBtn" href="parts.html">ACF203726P 7M High density cable (Double head)</a></li>
            <li><a class="searchBtn" href="parts.html">ACF 1049 High density cable double head 14P 7M</a></li>
            <li><a class="searchBtn" href="parts.html">E10206 Purple High density cable 14P 4M/6M/9M</a></li>
            <li><a class="searchBtn" href="parts.html">EF2063 15P Flora High density cable</a></li>
            <li><a class="searchBtn" href="parts.html">EF2062 14P Flora High density cable</a></li>
            <li><a class="searchBtn" href="parts.html">SC-SC Double core Fiber Optic cable</a></li>
            <li><a class="searchBtn" href="parts.html">Assorted Ink Tubes</a></li>
            <li><a class="searchBtn" href="parts.html">Assorted Design Encoder Strips</a></li>
            <li><a class="searchBtn" href="parts.html">Assorted Belts (Long/Short)</a></li>
            <li><a class="searchBtn" href="parts.html">Printhead Data Cables</a></li>
            <li><a class="searchBtn" href="parts.html">Epson i3200 Double Carriage Board</a></li>
            <li><a class="searchBtn" href="parts.html">Epson i3200 Carriage Board (4 head)</a></li>
            <li><a class="searchBtn" href="parts.html">Epson i3200 Board (Single head)</a></li>
            <li><a class="searchBtn" href="parts.html">KM1024i 8 Heads Kit Board</a></li>
            <li><a class="searchBtn" href="parts.html">XP600 Single Head Board Kit XYP 2in1 for Magic Color Machine</a>
            </li>
            <li><a class="searchBtn" href="parts.html">Epson i3200 Connector Board</a></li>
            <li><a class="searchBtn" href="parts.html">Epson XP600 Display Kit (Sanyang Version)</a></li>
            <li><a class="searchBtn" href="parts.html">I3200E1 Single Head Board Full Kit</a></li>
            <li><a class="searchBtn" href="parts.html">I3200E1 Double Head Board Full Kit</a></li>
            <li><a class="searchBtn" href="parts.html">BYHX dx5 head board</a></li>
            <li><a class="searchBtn" href="parts.html">BYHX dx5 main board</a></li>
            <li><a class="searchBtn" href="parts.html">Xuli printhead control board</a></li>
            <li><a class="searchBtn" href="parts.html">XP600 Double Head Hanson Board</a></li>
            <li><a class="searchBtn" href="parts.html">XP600 double head</a></li>
            <li><a class="searchBtn" href="parts.html">XP600 single head board</a></li>
            <li><a class="searchBtn" href="parts.html">DX5 Main Board for Epson R1900 Printer</a></li>
            <li><a class="searchBtn" href="parts.html">DX5 single head board</a></li>
            <li><a class="searchBtn" href="parts.html">DX5 to DX7 Convertor</a></li>
            <li><a class="searchBtn" href="parts.html">XP600 hoson set board for double head</a></li>
            <li><a class="searchBtn" href="parts.html">DX5 printhead board</a></li>
            <li><a class="searchBtn" href="parts.html">Epson 5113 2/3/4/5 Locked decoder card</a></li>
            <li><a class="searchBtn" href="parts.html">First-time Locked decoder card</a></li>
            <li><a class="searchBtn" href="parts.html">Epson i3200 Single Head UV Full Board Kit</a></li>
            <li><a class="searchBtn" href="parts.html">Konica 512 UMC board 1.4i</a></li>
            <li><a class="searchBtn" href="parts.html">Transfer card from 5113/4720 head to i3200 hanson board</a></li>
            <li><a class="searchBtn" href="parts.html">XP600 printhead transfer board</a></li>
            <li><a class="searchBtn" href="parts.html">Dx5 small damper (Square/Big Filter)</a></li>
            <li><a class="searchBtn" href="parts.html">JV5/JV33 Damper</a></li>
            <li><a class="searchBtn" href="parts.html">JV5/JV33 Damper (Clip Buckleport)</a></li>
            <li><a class="searchBtn" href="parts.html">Damper (Pagoda Port)</a></li>
            <li><a class="searchBtn" href="parts.html">Damper (Straight Socket)</a></li>
            <li><a class="searchBtn" href="parts.html">Assorted Ink Dampers</a></li>
            <li><a class="searchBtn" href="parts.html">Assorted Wiper/Wiper Holder</a></li>
            <li><a class="searchBtn" href="parts.html">1500ml Ink Cartirage with Stirrer, Ink Filter, Ink Level Sensor,
                    Alarm Control Panel</a></li>
            <li><a class="searchBtn" href="parts.html">CISS Ink Cartiradges</a></li>
            <li><a class="searchBtn" href="parts.html">E3192-1 XP600 Cap Top 2 Holes</a></li>
            <li><a class="searchBtn" href="parts.html">E3310-2 Dx5 Cap Top Side With 2 Holes</a></li>
            <li><a class="searchBtn" href="parts.html">E3310-3 Dx5 Cap Hole 2 Holes In The Middle</a></li>
            <li><a class="searchBtn" href="parts.html">E3326-1 Horizontal Shape Cap Top 2 Holes</a></li>
            <li><a class="searchBtn" href="parts.html">E3326-2 Horizontal Shape Cap Top Side With Holes</a></li>
            <li><a class="searchBtn" href="parts.html">E3333-2 TX800 Black Cap Top 3 Holes</a></li>
            <li><a class="searchBtn" href="parts.html">E3334-1 TX800 Black Cap Top 3 Holes</a></li>
            <li><a class="searchBtn" href="parts.html">E3335 TX800 XP600 Cap Top 3 Holes</a></li>
            <li><a class="searchBtn" href="parts.html">E3336-1 Black Net Cap Top 2 Holes</a></li>
            <li><a class="searchBtn" href="parts.html">E3391 Dx5 Dx7 My-Jet Cap Top</a></li>
            <li><a class="searchBtn" href="parts.html">EECS1146-9 CISS Connector Of ink Tank</a></li>
            <li><a class="searchBtn" href="parts.html">EECS1146-8 CISS Connector Of Ink Tank</a></li>
            <li><a class="searchBtn" href="parts.html">ECS1054 CISS Clamp</a></li>
            <li><a class="searchBtn" href="parts.html">4 Cut-off Valve</a></li>
            <li><a class="searchBtn" href="parts.html">Assorted CISS Chips</a></li>
            <li><a class="searchBtn" href="parts.html">Roland ZEC-U1005 Blade 45 Degree</a></li>
            <li><a class="searchBtn" href="parts.html">Mimaki Blade 60 Degree</a></li>
            <li><a class="searchBtn" href="parts.html">Roland Ettering Holder</a></li>
            <li><a class="searchBtn" href="parts.html">Head Cleaning Kit</a></li>
            <li><a class="searchBtn" href="parts.html">Print Head Epson XP600</a></li>
            <li><a class="searchBtn" href="parts.html">Print Head Epson i3200</a></li>
            <li><a class="searchBtn" href="parts.html">Hanson Main Board GLB v2.75.11 (i3200x2)</a></li>
            <li><a class="searchBtn" href="parts.html">Hoson Head board HEB EPS 2H v1.43 (i3200 Hoson kit convertor kit
                    inkjet DTF board)</a></li>
            <li><a class="searchBtn" href="parts.html">XP600 Head Main Board (Network Controller HEB-C-01)</a></li>
            <li><a class="searchBtn" href="parts.html">Hoson XP600 Cable Board Double Head Adapter Board For Epson</a>
            </li>
            <li><a class="searchBtn" href="parts.html">4720 i3200 Adapter Convert Card Honson i3200</a></li>
            <li><a class="searchBtn" href="parts.html">Cool UV Lamp Light</a></li>
            <li><a class="searchBtn" href="parts.html">UV DTF Integrated Y Driving Motor Model No. iESV57</a></li>
            <li><a class="searchBtn" href="parts.html">UV DTF Integrated X Motor Model No. iHSV57</a></li>
            <li><a class="searchBtn" href="parts.html">Sensor Fita Encoder</a></li>
            <li><a class="searchBtn" href="parts.html">SX4009-P1 Limit Switch Sensor For Inkjet Printers</a></li>
            <!-- 202 Total Items -->
        </ul>
    </div>

    <div class="icons" data-aos="fade-down" data-aos-duration="1300" data-aos-once="true">
        <i class="fa-solid fa-magnifying-glass activeSearchBar"></i>
        <a href="Inkjet_Global_Catalogue.pdf">E-Catalogue</a>
    </div>
</div>

<div class="navInnerTwo">
    <ul class="navList">
        <li data-aos="fade-down" data-aos-duration="300" data-aos-once="true"><a href="index.html"
                class="navLink">Home</a></li>

        <li class="prodHidden" data-aos="fade-down" data-aos-duration="550" data-aos-once="true">
            <div class="dropdown">
                <button class="dropbtn productDrop"><a>Products</a></button>
                <div class="dropdown-content">
                    <a class="secondLink" href="uv.html">UV <small>(DTF)</small> Printers</a>
                    <a class="secondLink" href="dtf.html">Textile DTF Printers</a>
                    <a class="secondLink" href="ecosolvent.html">Eco Solvent Printer</a>
                    <a class="secondLink" href="sublimation.html">Sublimation Printer</a>
                    <a class="secondLink" href="laser.html">Laser Machines</a>
                    <a class="secondLink" href="plotter.html">Plotter & Cutting Machines</a>
                    <a class="secondLink" href="heattransfer.html">Heat Transfer Machines</a>
                    <a class="secondLink" href="inks.html">Inks</a>
                    <a class="secondLink" href="material.html">Printing Material</a>
                </div>
            </div>
        </li>

        <li class="liSpecial" data-aos="fade-down" data-aos-duration="550" data-aos-once="true">
            <div class="dropdownSpecial">
                <button class="dropbtnSpecial" onclick="myFunction()">
                    Products&nbsp;<i class="fa fa-angle-right"></i>
                </button>
                <div class="dropdown-contentSpecial" id="myDropdown">
                    <i class="fa-solid fa-angle-left" onclick="myFunction2()"></i>
                    <a class="secondLink" href="uv.html">UV <small>(DTF)</small> Printers</a>
                    <a class="secondLink" href="dtf.html">Textile DTF Printers</a>
                    <a class="secondLink" href="ecosolvent.html">Eco Solvent Printer</a>
                    <a class="secondLink" href="sublimation.html">Sublimation Printer</a>
                    <a class="secondLink" href="laser.html">Laser Machines</a>
                    <a class="secondLink" href="plotter.html">Plotter & Cutting Machines</a>
                    <a class="secondLink" href="heattransfer.html">Heat Transfer Machines</a>
                    <a class="secondLink" href="inks.html">Inks</a>
                    <a class="secondLink" href="material.html">Printing Material</a>
                </div>
            </div>
        </li>

        <li class="serviceDropLi" data-aos="fade-down" data-aos-duration="800" data-aos-once="true">
            <div class="dropdown serviceDrop">
                <button class="dropbtn serviceDrop"><a>Parts & Services</a></button>
                <div class="dropdown-content">
                    <a class="thirdLink" href="techsupport.html">Technical Support</a>
                    <a class="thirdLink" href="training.html">Training</a>
                    <a href="parts.html" class="thirdLink">Spare Parts</a>
                </div>
            </div>
        </li>

        <li class="liSpecial" data-aos="fade-down" data-aos-duration="800" data-aos-once="true">
            <div class="dropdownSpecial">
                <button class="dropbtnSpecial dropbtnSpecial2" onclick="active()">
                    Parts & Services&nbsp;<i class="fa fa-angle-right"></i>
                </button>
                <div class="dropdown-contentSpecial" id="myDropdown2">
                    <i class="fa-solid fa-angle-left" onclick="active2()"></i>
                    <a class="secondLink secondLinkSpecial" href="techsupport.html">Technical Support</a>
                    <a class="secondLink secondLinkSpecial" href="training.html">Training</a>
                    <a class="secondLink secondLinkSpecial" href="parts.html">Spare Parts</a>
                </div>
            </div>
        </li>

        <li data-aos="fade-down" data-aos-duration="1050" data-aos-once="true"><a href="application.html"
                class="navLink">Application</a></li>

        <li data-aos="fade-down" data-aos-duration="1300" data-aos-once="true"><a href="contact.html"
                class="navLink">Contact Us</a></li>

    </ul>
</div>