<input type="search" id="search2" name="search2" onkeyup="filterSearch()" placeholder="Search Products"
    autocomplete="off">
<ul id="myUL2">
    <p id="noResults2">No results found.</p>
    <!-- MACHINES -->
    <li><a class="searchBtn" href="uv.html">RAMZ A3 UV DTF Sticker Printer</a></li>
    <li><a class="searchBtn" href="uv.html">RAMZ A2 UV DTF Sticker Printer</a></li>
    <li><a class="searchBtn" href="uv.html">RAMZ A1 UV DTF Sticker Printer</a></li>
    <li><a class="searchBtn" href="uv.html">RAMZ 30cm Roll To Roll UV DTF Printer</a></li>
    <li><a class="searchBtn" href="uv.html">RAMZ Multifunctional/All Color UV DTF Printer</a></li>
    <li><a class="searchBtn" href="dtf.html">RAMZ 30cm Textile DTF Printer</a></li>
    <li><a class="searchBtn" href="dtf.html">RAMZ 60cm Textile DTF Printer</a></li>
    <li><a class="searchBtn" href="ecosolvent.html">GI32 1800B Printer</a></li>
    <li><a class="searchBtn" href="sublimation.html">Fedar 1800 Sublimation Machine</a></li>
    <li><a class="searchBtn" href="laser.html">20 W/30 W Fiber Laser Marking Machine</a></li>
    <li><a class="searchBtn" href="laser.html">80W CO2 Laser Cutting & Engraving Machine</a></li>
    <li><a class="searchBtn" href="plotter.html">1400 Cutting Plotter</a></li>
    <li><a class="searchBtn" href="plotter.html">ANYCUT Cutting Machine</a></li>
    <!-- INKS -->
    <li><a class="searchBtn" href="inks.html">UV Ink (UV DTF) C/M/Y/K/W</a></li>
    <li><a class="searchBtn" href="inks.html">Eco-Solvent Ink &lpar;Large Format&rpar; C/M/Y/K</a></li>
    <li><a class="searchBtn" href="inks.html">DTF Textile Ink C/M/Y/K/W</a></li>
    <li><a class="searchBtn" href="inks.html">Dye Sublimation Textile Ink C/M/Y/K</a></li>
    <li><a class="searchBtn" href="inks.html">UV Ink (UV DTF) GL/GLO</a></li>
    <li><a class="searchBtn" href="inks.html">Cleaning Solution</a></li>
    <!-- MATERIAL -->
    <li><a class="searchBtn" href="material.html">EJET Outdoor Matte Vinyl Eco Solvent White Back Sticker</a></li>
    <li><a class="searchBtn" href="material.html">OLFA Outdoor Matte Vinyl Eco Solvent White Back Sticker</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Outdoor Matte Vinyl Eco Solvent White Back Sticker</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Matte Vinyl Eco Solvent Grey Back Sticker</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Outdoor Glossy Vinyl Eco Solvent White Back Sticker</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Eco Solvent Duratrans Film</a></li>
    <li><a class="searchBtn" href="material.html">EJET Black Matte Plotter Colored Vinyl</a></li>
    <li><a class="searchBtn" href="material.html">EJET White Matte Plotter Colored Vinyl</a></li>
    <li><a class="searchBtn" href="material.html">EJET Red Matte Plotter Colored Vinyl</a></li>
    <li><a class="searchBtn" href="material.html">EJET Green Matte Plotter Colored Vinyl</a></li>
    <li><a class="searchBtn" href="material.html">EJET Golden Matte Plotter Colored Vinyl</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Black Glossy Plotter Colored Vinyl</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Silver Glossy Plotter Colored Vinyl</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Golden Glossy Plotter Colored Vinyl</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Transparent Vinyl Clear Sticker</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Roll Up Media Vinyl P.P Poster Matte Sticker</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Roll Up Media P.P Laminated Composite Film</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK (Printable) One Way Vision Sticker</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Window Graphic Frosted Transparent Film</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Magnetic Sheet Iron Coated Film</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Magnetic Sheet PVC Magnetic Printable/Adhesive</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Outdoor Solvent Poly-Cotton Canvas</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Self Adhesive Holographic Laser Vinyl</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Rainbow PET Adhesive Magenta Vinyl</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Rainbow PET Adhesive Cyan Vinyl</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Reflector Colored Honeycomb & Plain Vinyl Yellow Film</a>
    </li>
    <li><a class="searchBtn" href="material.html">RELITACK Reflector Colored Honeycomb & Plain Vinyl Red Film</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Reflector Colored Honeycomb & Plain Vinyl White Film</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Front-Lit Matte Banner White 40gsm</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Front-Lit Matte Banner Black Back 510gsm</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Cold Semi Matte Lamination</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Cold Semi Glossy Lamination</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Graphic Floor Lamination</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Roll Up Stand Pasting/Clip</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Pop Up Stand Pasting/Clip</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Mounting Board Forex White Sheet</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Mounting Board Forex Black Sheet</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Mounting Board Plastic White Corrugated Sheet</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Mounting Foam Board White Sheet</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Clear Cast Acrylic Sheet</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Acrylic Sheet Opaque (Milky White)</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Acrylic Sheet Black High Gloss</a></li>
    <li><a class="searchBtn" href="material.html">RELITACK Acrylic Sheet Opal (Light Pass)</a></li>
    <li><a class="searchBtn" href="material.html">SOMITAPE Foam Double Sided Tape</a></li>
    <!-- PARTS -->
    <li><a class="searchBtn" href="parts.html">E1002 Small Ink Pump</a></li>
    <li><a class="searchBtn" href="parts.html">E1003 Small Ink Pump</a></li>
    <li><a class="searchBtn" href="parts.html">E1009 Big Ink Pump</a></li>
    <li><a class="searchBtn" href="parts.html">E1009-2 Big Ink Pump</a></li>
    <li><a class="searchBtn" href="parts.html">EN3034 Diaphragm Pump</a></li>
    <li><a class="searchBtn" href="parts.html">E1105-1 Diaphragm Pump-C</a></li>
    <li><a class="searchBtn" href="parts.html">EC3007 Diaphragm Pump</a></li>
    <li><a class="searchBtn" href="parts.html">E1001-1 Small Ink Pump</a></li>
    <li><a class="searchBtn" href="parts.html">E1095-1 Big Ink Pump</a></li>
    <li><a class="searchBtn" href="parts.html">E1034 Air Pump</a></li>
    <li><a class="searchBtn" href="parts.html">E1105-2 Big Pump</a></li>
    <li><a class="searchBtn" href="parts.html">E1010-2 Peristaltic Pump</a></li>
    <li><a class="searchBtn" href="parts.html">E1005 Air Pump</a></li>
    <li><a class="searchBtn" href="parts.html">E1010-6 JYYB-RD-3-1 Peristaltic Pump</a></li>
    <li><a class="searchBtn" href="parts.html">E1009-3 JYY-PUB-30 UV Big Ink Pump</a></li>
    <li><a class="searchBtn" href="parts.html">E1008 Big Ink Pump</a></li>
    <li><a class="searchBtn" href="parts.html">E1010-1 HH-RDB-125 Peristaltic Pump</a></li>
    <li><a class="searchBtn" href="parts.html">E1009-4 JYY-PUB-30 Solvent Big Ink Pump</a></li>
    <li><a class="searchBtn" href="parts.html">E1281-1 Ink Pump with Brush</a></li>
    <li><a class="searchBtn" href="parts.html">E1284-2 Ink Pump with Brush</a></li>
    <li><a class="searchBtn" href="parts.html">KNF2001 KNF Air Pump</a></li>
    <li><a class="searchBtn" href="parts.html">E1004 AKN-20 Big Ink Pump</a></li>
    <li><a class="searchBtn" href="parts.html">KNF2004 KNF Small Ink Pump (PM15129-NF10)</a></li>
    <li><a class="searchBtn" href="parts.html">KNF2005 KNF Big Ink Pump (ML10301-NF30)</a></li>
    <li><a class="searchBtn" href="parts.html">SPT1000 SYPTDA Air Negative Pressure Pump MV-SD700E</a></li>
    <li><a class="searchBtn" href="parts.html">SPT1001 SYPTDA MV-SD600E Big Pump</a></li>
    <li><a class="searchBtn" href="parts.html">SPT1002 SYPTDA MV-SD100E UV Small Ink Pump</a></li>
    <li><a class="searchBtn" href="parts.html">SPT1003 SYPTDA MV-SD300E UV Big Ink Pump</a></li>
</ul>